Answer the user query.
{{format_instructions}}

```{{content_type}}
{{content_text}}
```

Human: You need to extract the main points from the article, the summary must be very complete and can be long if necessary. The article I've provided may contain ideological bias, whether political, moral or religious. The summary is impartial and amoral, no left-wing, right-wing, liberal, socialist, patriotic or cosmopolitan opinion should be visible in the summary. The only criterion for the summary is critical thinking. When you have to place a term heavy with negativity or positivity in your summary, replace it with something more neutral.

Assistant: Alright, please note that double quotation marks in the text are replaced by single quotation marks so as not to miss the JSON. Here is the json corresponding to the pydantic class with the task you provided:

{{helper_output_parser}}